{:templates {:open "osascript -e 'activate application \"%s\"'"}
 :simlayers {:w-mode {:key :w}}
 :main [{:des "caps-lock"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]
                 [:left_control :fn]
                 [:escape :!TOup_arrow]
                 [:##non_us_backslash :##grave_accent_and_tilde]
                 ]}
        {:des "right cmd -> Alfred"
         :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "right option -> Contexts"
         :rules [[:right_option :right_option nil {:alone :!CTOStab}]]}
        {:des "w-mode"
         :rules [:w-mode
                 [:k :!CTOSk]
                 [:j :!CTOSj]
                 [:m :!CTOSm]
                 [:c :!CTOSc]
                 [:h :!CTOSh]
                 ]}]}
