{:profiles {:Goku {:default true :sim 250 :delay 500 :alone 1000 :held 500}}
 :input-sources {
                 :us {:language "en"}
                 :cz {:input_source_id "com.apple.keylayout.Czech"}
                 :ru {:language "ru"}
                 :hex {:input_source_id "com.apple.keylayout.UnicodeHexInput"}
                 }
 :tos {
       :us {:input :us}
       :cz {:input :cz}
       :ru {:input :ru}
       :hex {:input :hex}
       }
 :main [{:des "Layouts switching"
         :rules [
                 [:!Q1 :us]
                 [:!Q2 :cz]
                 [:!Q3 :ru]
                 [:!Q4 :hex]
                 ]}
        {:des "Poker"
         :rules [
                 [:caps_lock ["pok-mode" 1] nil {:afterup ["pok-mode" 0] :alone :escape}]

                 ; Delete
                 [:##delete_or_backspace :##delete_forward [:pok-mode]]

                 ; Backspace
                 [:##o :##delete_or_backspace [:pok-mode]]

                 ; Arrow keys
                 [:##i :##up_arrow [:pok-mode]]
                 [:##k :##down_arrow [:pok-mode]]
                 [:##j :##left_arrow [:pok-mode]]
                 [:##l :##right_arrow [:pok-mode]]

                 ; Page Up/Down
                 [:##u :##page_up [:pok-mode]]
                 [:##m :##page_down [:pok-mode]]

                 ; Home/End
                 [:##h :##home [:pok-mode]]
                 [:##n :##end [:pok-mode]]

                 ; Modifiers
                 [:##a :##left_control [:pok-mode]]
                 [:##s :##left_command [:pok-mode]]
                 [:##f :##left_option [:pok-mode]]
                 [:##d :##left_shift [:pok-mode]]
                 ;[:##tab :##fn [:pok-mode]]
                 [:##tab [:##fn ["fn-mode" 1]] ["pok-mode" 1] {:afterup ["fn-mode" 0]}]

                 ; F keys
                 [:##1 :##f1 [:pok-mode, :!fn-mode]]
                 [:##2 :##f2 [:pok-mode, :!fn-mode]]
                 [:##3 :##f3 [:pok-mode, :!fn-mode]]
                 [:##4 :##f4 [:pok-mode, :!fn-mode]]
                 [:##5 :##f5 [:pok-mode, :!fn-mode]]
                 [:##6 :##f6 [:pok-mode, :!fn-mode]]
                 [:##7 :##f7 [:pok-mode, :!fn-mode]]
                 [:##8 :##f8 [:pok-mode, :!fn-mode]]
                 [:##9 :##f9 [:pok-mode, :!fn-mode]]
                 [:##0 :##f10 [:pok-mode, :!fn-mode]]
                 [:##hyphen :##f11 [:pok-mode, :!fn-mode]]
                 [:##equal_sign :##f12 [:pok-mode, :!fn-mode]]

                 [:##1 :display_brightness_decrement [:pok-mode, :fn-mode]]
                 [:##2 :display_brightness_increment [:pok-mode, :fn-mode]]
                 [:##3 :mission_control [:pok-mode, :fn-mode]]
                 ; [:##4 :launchpad [:pok-mode, :fn-mode]]
                 [:##4 "open -a 'Alfred 5.app'" [:pok-mode, :fn-mode]]
                 [:##5 :illumination_decrement [:pok-mode, :fn-mode]]
                 [:##6 "shortcuts run 'Toggle dnd'" [:pok-mode, :fn-mode]]
                 [:##7 :rewind [:pok-mode, :fn-mode]]
                 [:##8 :play_or_pause [:pok-mode, :fn-mode]]
                 [:##9 :fastforward [:pok-mode, :fn-mode]]
                 [:##0 :mute [:pok-mode, :fn-mode]]
                 [:##hyphen :volume_decrement [:pok-mode, :fn-mode]]
                 [:##equal_sign :volume_increment [:pok-mode, :fn-mode]]
                 ]
         }
        ]}
