{:profiles {:Goku {:default true :sim 250 :delay 500 :alone 1000 :held 500}}
 :input-sources {
                 :us {:language "en"}
                 :cz {:input_source_id "com.apple.keylayout.Czech"}
                 :ru {:language "ru"}
                 :hex {:input_source_id "com.apple.keylayout.UnicodeHexInput"}
                 }
 :tos {
       :us {:input :us}
       :cz {:input :cz}
       :ru {:input :ru}
       :hex {:input :hex}
       }
 :main [{:des "Layouts switching"
         :rules [
                 [:!Q1 :us]
                 [:!Q2 :cz]
                 [:!Q3 :ru]
                 [:!Q4 :hex]
                 ]}
        {:des "Poker"
         :rules [
                 ; [:caps_lock ["pok-mode" 1] ["pok-mode" 0] ]
                 ; [:caps_lock ["pok-mode" 0] ["pok-mode" 1] ]

                 [:##caps_lock ["pok-mode" 1] nil {:afterup ["pok-mode" 0] :alone :escape}]

                 ; Delete
                 [:##delete_or_backspace :##delete_forward ["pok-mode" 1]]
                 ; Backspace
                 [:##o :##delete_or_backspace ["pok-mode" 1]]

                 ; Escape
                 ; [:grave_accent_and_tilde :escape ["pok-mode" 0]]
                 ; [:escape :grave_accent_and_tilde ["pok-mode" 1]]

                 ; Arrow keys
                 [:##i :##up_arrow ["pok-mode" 1]]
                 [:##k :##down_arrow ["pok-mode" 1]]
                 [:##j :##left_arrow ["pok-mode" 1]]
                 [:##l :##right_arrow ["pok-mode" 1]]

                 ; Page Up/Down
                 [:##u :##page_up ["pok-mode" 1]]
                 [:##m :##page_down ["pok-mode" 1]]

                 ; Home/End
                 [:##h :##home ["pok-mode" 1]]
                 [:##n :##end ["pok-mode" 1]]

                 ; Modifiers
                 [:##a :##left_control ["pok-mode" 1]]
                 [:##s :##left_command ["pok-mode" 1]]
                 [:##f :##left_option ["pok-mode" 1]]
                 [:##d :##left_shift ["pok-mode" 1]]
                 ; [:##tab :##fn ["pok-mode" 1]]
                 [:##tab [:##fn ["fn-mode" 1]] ["pok-mode" 1] {:afterup ["fn-mode" 0]}]

                 ; F keys
                 [:##1 :##f1 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##2 :##f2 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##3 :##f3 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##4 :##f4 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##5 :##f5 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##6 :##f6 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##7 :##f7 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##8 :##f8 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##9 :##f9 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##0 :##f10 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##hyphen :##f11 [["pok-mode" 1], ["fn-mode" 0]]]
                 [:##equal_sign :##f12 [["pok-mode" 1], ["fn-mode" 0]]]

                 [:##1 :display_brightness_decrement [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##2 :display_brightness_increment [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##3 :mission_control [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##4 :launchpad [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##5 :illumination_decrement [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##6 :illumination_increment [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##7 :rewind [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##8 :play_or_pause [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##9 :fastforward [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##0 :mute [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##hyphen :volume_decrement [["pok-mode" 1], ["fn-mode" 1]]]
                 [:##equal_sign :volume_increment [["pok-mode" 1], ["fn-mode" 1]]]
                 ]
         }
        ]}
